<div class="banner">
  <div class="container">
    <div class="row">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag('IMG_2431.jpg', class: "d-block w-100", alt: "First slide", height: '345', width: '460') %>

          </div>
          <div class="carousel-item">
            <%= image_tag('IMG_2446.jpg', class: "d-block w-100", alt: "Second slide", height: '345', width: '460') %>

          </div>
          <div class="carousel-item">
            <%= image_tag('IMG_2539.jpg', class: "d-block w-100", alt: "Third slide", height: '345', width: '460') %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Second Section -->
<div class="container">
  <div class="row">
    <h1>Why Join?</h1>
    <p>Join our community for posting and sharing your favorvite caffine, engerizing and boosting energry drinks.</p>
    <p>Our site offers User to User and one space to share and maybe trade? 😊</p>
  </div>
</div>
